.SettingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(50,50,50);
}

.SettingsContainer .wrapper {
    background: darkgray;
    padding: 30px;
}