.leaderboard-wrapper {
    position: relative
}

.LeaderboardModalContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: white;
}