.leaderboard-wrapper {
    position: relative;
}

.LeaderboardModalContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(50,50,50);    
}

.leader-pod > h3 {
    float: left;
}

.LeaderboardModalContainer .wrapper {
    background: darkgray;
    padding: 30px;
}